In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [2]:
movies = pd.read_csv("D:/Excelr Solutions/Documents/my_movies.csv")
movies.head(10)

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,NaN,1,1,0,0,0,0,0,1,0,1

In [3]:
movies.shape

(10, 15)

In [4]:
movies2=movies.iloc[:,5:]
movies2

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,1,0,1,1,0,1,0,0,0,1
1,0,1,0,0,1,0,0,0,1,0
2,0,0,1,0,0,1,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0
4,1,1,0,0,1,0,0,0,0,0
5,1,1,0,0,1,0,0,0,0,0
6,0,0,0,1,0,0,1,0,0,0
7,0,1,0,0,1,0,0,0,0,0
8,1,1,0,0,1,0,0,0,0,0
9,1,1,0,0,0,0,0,1,0,1

# Support =0.1

In [5]:
frequent_itemsets = apriori(movies2, min_support=0.1, use_colnames=True)
frequent_itemsets

    support                                           itemsets
0       0.6                                      (Sixth Sense)
1       0.7                                        (Gladiator)
2       0.2                                            (LOTR1)
3       0.2                                    (Harry Potter1)
4       0.6                                          (Patriot)
5       0.2                                            (LOTR2)
6       0.1                                    (Harry Potter2)
7       0.1                                             (LOTR)
8       0.1                                       (Braveheart)
9       0.2                                       (Green Mile)
10      0.5                           (Sixth Sense, Gladiator)
11      0.1                               (LOTR1, Sixth Sense)
12      0.1                       (Harry Potter1, Sixth Sense)
13      0.4                             (Patriot, Sixth Sense)
14      0.1                               (Sixth Sense, LOTR2)
15      0.1                                (Sixth Sense, LOTR)
16      0.2                          (Green Mile, Sixth Sense)
17      0.6                               (Patriot, Gladiator)
18      0.1                                  (LOTR, Gladiator)
19      0.1                            (Braveheart, Gladiator)
20      0.1                            (Green Mile, Gladiator)
21      0.1                             (Harry Potter1, LOTR1)
22      0.2                                     (LOTR1, LOTR2)
23      0.1                                (LOTR1, Green Mile)
24      0.1                             (Harry Potter1, LOTR2)
25      0.1                     (Harry Potter1, Harry Potter2)
26      0.1                        (Harry Potter1, Green Mile)
27      0.1                              (Patriot, Braveheart)
28      0.1                                (Green Mile, LOTR2)
29      0.1                                 (Green Mile, LOTR)
30      0.4                  (Patriot, Sixth Sense, Gladiator)
31      0.1                     (Sixth Sense, LOTR, Gladiator)
32      0.1               (Green Mile, Sixth Sense, Gladiator)
33      0.1                (Harry Potter1, LOTR1, Sixth Sense)
34      0.1                        (LOTR1, Sixth Sense, LOTR2)
35      0.1                   (Green Mile, Sixth Sense, LOTR1)
36      0.1                (Harry Potter1, Sixth Sense, LOTR2)
37      0.1           (Harry Potter1, Green Mile, Sixth Sense)
38      0.1                   (Green Mile, Sixth Sense, LOTR2)
39      0.1                    (Green Mile, Sixth Sense, LOTR)
40      0.1                   (Patriot, Braveheart, Gladiator)
41      0.1                      (Green Mile, LOTR, Gladiator)
42      0.1                      (Harry Potter1, LOTR1, LOTR2)
43      0.1                 (Harry Potter1, LOTR1, Green Mile)
44      0.1                         (LOTR1, Green Mile, LOTR2)
45      0.1                 (Harry Potter1, Green Mile, LOTR2)
46      0.1         (Green Mile, Sixth Sense, LOTR, Gladiator)
47      0.1         (Harry Potter1, LOTR1, Sixth Sense, LOTR2)
48      0.1    (Harry Potter1, Green Mile, Sixth Sense, LOTR1)
49      0.1            (Green Mile, Sixth Sense, LOTR1, LOTR2)
50      0.1    (Harry Potter1, Green Mile, Sixth Sense, LOTR2)
51      0.1          (Harry Potter1, LOTR1, Green Mile, LOTR2)
52      0.1  (Harry Potter1, LOTR1, Sixth Sense, LOTR2, Gre...

In [6]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
2,(LOTR),(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
3,(Green Mile),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
4,(Patriot),(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
...,...,...,...,...,...,...,...,...,...
124,"(Harry Potter1, Green Mile)","(LOTR1, Sixth Sense, LOTR2)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
125,"(LOTR1, Sixth Sense)","(Harry Potter1, Green Mile, LOTR2)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
126,"(Green Mile, LOTR1)","(Harry Potter1, Sixth Sense, LOTR2)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
127,"(Sixth Sense, LOTR2)","(Harry Potter1, Green Mile, LOTR1)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
128,"(Green Mile, LOTR2)","(Harry Potter1, LOTR1, Sixth Sense)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf

In [7]:
rules.sort_values('confidence',ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
64,"(Harry Potter1, Sixth Sense, LOTR2)",(LOTR1),0.1,0.2,0.1,1.000000,5.000000,0.08,inf
65,"(LOTR1, Sixth Sense, LOTR2)",(Harry Potter1),0.1,0.2,0.1,1.000000,5.000000,0.08,inf
95,"(Green Mile, LOTR2)","(Harry Potter1, Sixth Sense)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
94,"(Harry Potter1, LOTR2)","(Green Mile, Sixth Sense)",0.1,0.2,0.1,1.000000,5.000000,0.08,inf
93,"(Harry Potter1, Sixth Sense)","(Green Mile, LOTR2)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
...,...,...,...,...,...,...,...,...,...
4,(Patriot),(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
5,(Gladiator),(Patriot),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
14,"(Sixth Sense, Gladiator)",(Patriot),0.5,0.6,0.4,0.800000,1.333333,0.10,2.0
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4

In [8]:
rules[rules.lift<5]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
2,(LOTR),(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
3,(Green Mile),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
4,(Patriot),(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
5,(Gladiator),(Patriot),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8
6,(LOTR),(Gladiator),0.1,0.7,0.1,1.000000,1.428571,0.03,inf
7,(Braveheart),(Gladiator),0.1,0.7,0.1,1.000000,1.428571,0.03,inf
11,(Braveheart),(Patriot),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
13,"(Patriot, Sixth Sense)",(Gladiator),0.4,0.7,0.4,1.000000,1.428571,0.12,inf
14,"(Sixth Sense, Gladiator)",(Patriot),0.5,0.6,0.4,0.800000,1.333333,0.10,2.0
15,"(Sixth Sense, LOTR)",(Gladiator),0.1,0.7,0.1,1.000000,1.428571,0.03,inf
16,"(LOTR, Gladiator)",(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
17,(LOTR),"(Sixth Sense, Gladiator)",0.1,0.5,0.1,1.000000,2.000000,0.05,inf
18,"(Green Mile, Gladiator)",(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
19,"(Harry Potter1, LOTR1)",(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
24,"(LOTR1, Green Mile)",(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
27,"(Harry Potter1, LOTR2)",(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
29,"(Harry Potter1, Green Mile)",(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
31,"(Green Mile, LOTR2)",(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
33,"(Green Mile, LOTR)",(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
36,"(Patriot, Braveheart)",(Gladiator),0.1,0.7,0.1,1.000000,1.428571,0.03,inf
37,"(Braveheart, Gladiator)",(Patriot),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
38,(Braveheart),"(Patriot, Gladiator)",0.1,0.6,0.1,1.000000,1.666667,0.04,inf
39,"(Green Mile, LOTR)",(Gladiator),0.1,0.7,0.1,1.000000,1.428571,0.03,inf
53,"(Green Mile, Sixth Sense, LOTR)",(Gladiator),0.1,0.7,0.1,1.000000,1.428571,0.03,inf
55,"(Green Mile, LOTR, Gladiator)",(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
57,"(Green Mile, LOTR)","(Sixth Sense, Gladiator)",0.1,0.5,0.1,1.000000,2.000000,0.05,inf
63,"(Harry Potter1, LOTR1, LOTR2)",(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
72,"(Harry Potter1, LOTR1, Green Mile)",(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
82,"(LOTR1, Green Mile, LOTR2)",(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
89,"(Harry Potter1, Green Mile, LOTR2)",(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
108,"(Harry Potter1, Green Mile, LOTR1, LOTR2)",(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf

# Support=0.3

In [9]:
frequent_itemsets_2 = apriori(movies2, min_support=0.3, use_colnames=True)
frequent_itemsets_2

   support                           itemsets
0      0.6                      (Sixth Sense)
1      0.7                        (Gladiator)
2      0.6                          (Patriot)
3      0.5           (Sixth Sense, Gladiator)
4      0.4             (Patriot, Sixth Sense)
5      0.6               (Patriot, Gladiator)
6      0.4  (Patriot, Sixth Sense, Gladiator)

In [10]:
rules_2 = association_rules(frequent_itemsets_2, metric="confidence", min_threshold=0.8)
rules_2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
1,(Patriot),(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
2,(Gladiator),(Patriot),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8
3,"(Patriot, Sixth Sense)",(Gladiator),0.4,0.7,0.4,1.000000,1.428571,0.12,inf
4,"(Sixth Sense, Gladiator)",(Patriot),0.5,0.6,0.4,0.800000,1.333333,0.10,2.0

In [11]:
rules_2.sort_values('confidence')

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4,"(Sixth Sense, Gladiator)",(Patriot),0.5,0.6,0.4,0.800000,1.333333,0.10,2.0
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
2,(Gladiator),(Patriot),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8
1,(Patriot),(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
3,"(Patriot, Sixth Sense)",(Gladiator),0.4,0.7,0.4,1.000000,1.428571,0.12,inf

In [12]:
rules_2[rules_2.lift<1.3]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8

# Support=0.5

In [13]:
frequent_itemsets_3 = apriori(movies2, min_support=0.5, use_colnames=True)
frequent_itemsets_3

   support                  itemsets
0      0.6             (Sixth Sense)
1      0.7               (Gladiator)
2      0.6                 (Patriot)
3      0.5  (Sixth Sense, Gladiator)
4      0.6      (Patriot, Gladiator)

In [14]:
rules_3 = association_rules(frequent_itemsets_3, metric="lift", min_threshold=0.5)
rules_3

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
2,(Patriot),(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
3,(Gladiator),(Patriot),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8

In [15]:
rules_3.sort_values('lift')

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
2,(Patriot),(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
3,(Gladiator),(Patriot),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8

In [16]:
rules_3[rules_3.confidence>0.8]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
2,(Patriot),(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
3,(Gladiator),(Patriot),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8